@media (min-width: 768px) {

    header {
        flex-direction: row;
    }

    #menu-toggle {
        display: none;
    }

    #nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        max-width: none;
    }

    #nav-menu a {
        color: white;
        padding: 0.5rem 1rem;
    }

    #nav-menu li {
        border: none;
    }

    
}


